This is my first Kaggle notebook, Saman

In [1]:
import pandas  as pd

In [2]:
df = pd.read_csv('../input/usa-cers-dataset/USA_cars_datasets.csv')

In [3]:
df.head()

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,1,2899,ford,se,2011,clean vehicle,190552.0,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,3,25000,ford,door,2014,clean vehicle,64146.0,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,4,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left

In [4]:
df.tail()

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
2494,2494,7800,nissan,versa,2019,clean vehicle,23609.0,red,3n1cn7ap9kl880319,167722715,california,usa,1 days left
2495,2495,9200,nissan,versa,2018,clean vehicle,34553.0,silver,3n1cn7ap5jl884088,167762225,florida,usa,21 hours left
2496,2496,9200,nissan,versa,2018,clean vehicle,31594.0,silver,3n1cn7ap9jl884191,167762226,florida,usa,21 hours left
2497,2497,9200,nissan,versa,2018,clean vehicle,32557.0,black,3n1cn7ap3jl883263,167762227,florida,usa,2 days left
2498,2498,9200,nissan,versa,2018,clean vehicle,31371.0,silver,3n1cn7ap4jl884311,167762228,florida,usa,21 hours left

df.columns

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2499 entries, 0 to 2498
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    2499 non-null   int64
 1   price         2499 non-null   int64
 2   brand         2499 non-null   object
 3   model         2499 non-null   object
 4   year          2499 non-null   int64
 5   title_status  2499 non-null   object
 6   mileage       2499 non-null   float64
 7   color         2499 non-null   object
 8   vin           2499 non-null   object
 9   lot           2499 non-null   int64
 10  state         2499 non-null   object
 11  country       2499 non-null   object
 12  condition     2499 non-null   object
dtypes: float64(1), int64(4), object(8)
memory usage: 253.9+ KB

In [6]:
df.describe()

        Unnamed: 0         price         year       mileage           lot
count  2499.000000   2499.000000  2499.000000  2.499000e+03  2.499000e+03
mean   1249.000000  18767.671469  2016.714286  5.229869e+04  1.676914e+08
std     721.543484  12116.094936     3.442656  5.970552e+04  2.038772e+05
min       0.000000      0.000000  1973.000000  0.000000e+00  1.593488e+08
25%     624.500000  10200.000000  2016.000000  2.146650e+04  1.676253e+08
50%    1249.000000  16900.000000  2018.000000  3.536500e+04  1.677451e+08
75%    1873.500000  25555.500000  2019.000000  6.347250e+04  1.677798e+08
max    2498.000000  84900.000000  2020.000000  1.017936e+06  1.678055e+08

In [7]:
df.price

0        6300
1        2899
2        5350
3       25000
4       27700
        ...
2494     7800
2495     9200
2496     9200
2497     9200
2498     9200
Name: price, Length: 2499, dtype: int64

In [8]:
df.price.max()

84900

In [9]:
df.price.min()

0

In [10]:
df.price.value_counts()

0        43
16500    26
13900    21
15500    19
15000    19
         ..
12560     1
11760     1
7340      1
6530      1
30100     1
Name: price, Length: 790, dtype: int64

In [11]:
df.price.value_counts().head(10)

0        43
16500    26
13900    21
15500    19
15000    19
25000    18
25       18
8000     18
22500    18
18500    17
Name: price, dtype: int64

In [12]:
df.brand

0          toyota
1            ford
2           dodge
3            ford
4       chevrolet
          ...
2494       nissan
2495       nissan
2496       nissan
2497       nissan
2498       nissan
Name: brand, Length: 2499, dtype: object

In [13]:
df[df['brand']=='ford']

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
1,1,2899,ford,se,2011,clean vehicle,190552.0,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
3,3,25000,ford,door,2014,clean vehicle,64146.0,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
9,9,5250,ford,mpv,2017,clean vehicle,63418.0,black,2fmpk3j92hbc12542,167656121,texas,usa,2 days left
14,14,20700,ford,door,2013,clean vehicle,100757.0,black,1ftfw1et7dfa47790,167753916,virginia,usa,22 hours left
18,18,5210,ford,mpv,2017,clean vehicle,35714.0,white,2fmpk3j95hbb73607,167656124,texas,usa,2 days left
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2199,2199,13800,ford,fusion,2019,clean vehicle,29345.0,white,3fa6p0lu1kr222799,167802379,north carolina,usa,2 days left
2200,2200,56000,ford,srw,2018,clean vehicle,25371.0,black,1ft7w2bt4jec50359,167749689,pennsylvania,usa,3 days left
2201,2201,13800,ford,fusion,2019,clean vehicle,30054.0,silver,3fa6p0lu3kr210749,167802380,north carolina,usa,2 days left
2202,2202,45800,ford,srw,2018,clean vehicle,11173.0,white,1ft7w2bt3jeb02932,167749690,pennsylvania,usa,2 days left
2203,2203,13800,ford,fusion,2019,clean vehicle,30902.0,no_color,3fa6p0lu8kr225585,167802381,north carolina,usa,2 days left

In [14]:
df[df['brand']=='ford'].price.max()

74000

In [15]:
df[df['brand']=='ford'].model

1           se
3         door
9          mpv
14        door
18         mpv
         ...
2199    fusion
2200       srw
2201    fusion
2202       srw
2203    fusion
Name: model, Length: 1235, dtype: object

In [16]:
df[df['brand']=='ford'].model.value_counts()

door           363
f-150          219
doors           97
fusion          65
transit         41
max             41
escape          39
explorer        39
srw             38
edge            34
flex            33
mustang         29
wagon           28
expedition      28
mpv             22
fiesta          14
van             12
taurus          10
cutaway         10
drw             10
focus            9
ecosport         7
pickup           6
ranger           6
cab              5
hybrid           5
chassis          4
f-650            3
el               3
pk               3
bus              2
d                2
cargo            1
energi           1
f-750            1
dr               1
convertible      1
suv              1
connect          1
se               1
Name: model, dtype: int64